@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply transition-colors duration-100;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 auto;
  text-align: center;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollAnimation {
  animation: scrollLeft 3s 1 linear .2s;
}

@keyframes scrollLeft {
 0% {
  transform: translateX(-0.2rem);
 } 50% {
  transform: translateX(2rem);
 } 100% {
  transform: translateX(0);
 }
}

.slowDown {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10rem;
  width: 20rem;
}